<!-- Top navigation -->
<nav fxLayout="row">
      <a>
        <i class="fas fa-user"></i>User Profile
      </a>
    <!-- Calling SignOut() Api from AuthService -->

      <a (click)="authService.SignOut()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon> Log out
      </a>
</nav>
<h1>User Profile</h1>
<main role="main">
  <!-- Show user data when logged in -->
  <div *ngIf="authService.userData as user">

    <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
         alt="{{user.displayName}}">
    <div class="media-body">
      <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
      Update User Display Name: <input pInput [(ngModel)]="authService.name" />
      <button pButton (click)="authService.UpdateDisplayName(user)">Submit</button>
      <p>User ID: <strong>{{user.uid}}</strong></p>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
      <p>URL: <strong>{{user.test}}{{user.photoURL}}</strong></p>
    </div>

  </div>
</main>
<app-file-upload></app-file-upload>
<app-upload-list></app-upload-list>
